* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.clock, .calendar {
    background: #2e3440;
    border-radius: 15px;
    margin: 0px;
    padding: 0px;
}

.dock1 {
  background-color: #3a3a3a;
  color: #b0b4bc;
  padding: 0px;
  margin: 2px;
  border-radius: 15px;
  background: #957DAD;
}

.dock2 {
  background-color: #3a3a3a;
  color: #b0b4bc;
  margin: 2px;
  padding: 0px;
  border-radius: 15px;
  background: #957DAD;
}

.ruler {
  padding: 0px;
  margin: 2px;
  border-radius: 15px;
  background: #D0DDFF;
  background: #957DAD;
}

// Styles on classes (see eww.yuck for more information)

.app_firefox {
    background-repeat: no-repeat;
    background-size: 62px;
    min-width: 62px;
    min-height: 62px;
    margin: 0px 0px 0px 0px;
    margin: 1px 1px 1px 1px;
    margin: 3px 3px 3px 3px;

}

.app_emacs {
    background-repeat: no-repeat;
    background-size: 62px;
    min-width: 62px;
    min-height: 62px;
    margin: 0px 0px 0px 0px;
    margin: 1px 1px 1px 1px;
    margin: 3px 3px 3px 3px;

}

.app_chatty {
    background-repeat: no-repeat;
    background-size: 62px;
    min-width: 62px;
    min-height: 62px;
    margin: 0px 0px 0px 0px;
    margin: 1px 1px 1px 1px;
    margin: 3px 3px 3px 3px;

}

.app_calls {
    background-repeat: no-repeat;
    background-size: 62px;
    min-width: 62px;
    min-height: 62px;
    margin: 0px 0px 0px 0px;
    margin: 1px 1px 1px 1px;
    margin: 3px 3px 3px 3px;

}

.app_telegram {
    background-repeat: no-repeat;
    background-size: 62px;
    min-width: 62px;
    min-height: 62px;
    margin: 0px 0px 0px 0px;
    margin: 1px 1px 1px 1px;
    margin: 3px 3px 3px 3px;

}

.app_files {
    background-repeat: no-repeat;
    background-size: 62px;
    min-width: 62px;
    min-height: 62px;
    margin: 3px 3px 3px 3px;
}

.app_pagination1 {
    background-repeat: no-repeat;
    background-size: 62px;
    min-width: 62px;
    min-height: 62px;
    margin: 3px 3px 3px 3px;
}

.app_pagination2 {
    background-repeat: no-repeat;
    background-size: 62px;
    min-width: 62px;
    min-height: 62px;
    margin: 3px 3px 3px 3px;
}
